/*top nav*/

#navbar-container{
  overflow-x: hidden;
  background-color: blue;
}

#navbar-container ul{
  list-style-type: none;
  display: flex;
  /*position: relative;
  float: left;*/
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

#navbar-container ul li a{
  padding: 20px;
  display: block;
  color: #fff;
  text-decoration: none;
}

#navbar-container ul li a:hover {
  background-color: #000;
}

#onpage{
  text-decoration: underline overline;
  color: #fff;
}

/*side nav*/

#sidebar-container{
  position: fixed;
  right: 0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar-container ul{
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sidebar-container ul li a {
  text-decoration: none;
  display: block;
  padding: 15px 0;
  color: #fff;
}

#sidebar-container ul li a:hover {
  background-color: #000;
}